@charset "UTF-8";

/* 共通部分
------------------------------------*/
html {
    font-size: 100%;
}

body{
    font-family: "Yu gothic Medium","游ゴシック Medium","YuGothic","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif,"serif","Georgia";
    line-height: 1.7;
    color: #432;
    text-align:center;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

p {
    font-family: "Serif";
    font-size:18px;
    text-align:left;
    color: #000;
}

/* 　ページの下部：contact*/
.Contact{
    background-color: #F5F5F5;
}

.page-title4 {
    font-family: "Georgia";
    font-size:40px;
    color: #345378;
    line-height:100px;
}

.page-title5 {
    font-family: "Georgia";
    font-size:90px;
    color:rgba(52,83,120,.1);
}
.Contact p{
    text-align:center;
    margin-bottom: 50px;
    font-family: "Serif";
}

/*ボタン*/
.button{
    font-size: 1.375rem;
    background: #fff;
    border:1px solid #345378;
    color: #345378;
    font-family:"Georgia";
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover{
    background: #345378;
    color: #fff;
}


/* HEADER
------------------------------------*/
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}/*ロゴとナビゲーションが離れているので、最大幅の指定*/

.logo{
    width: 300px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform:uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color:#000;
}

.main-nav a:hover{
    color:#345378;
}
.page-header{
    display: flex;
    justify-content: space-between;
}


/* HOME
------------------------------------*/
.page-title1{
    font-family: "Georgia";
    font-size: 50px;
    text-transform: none;
    line-height:700px;
    color: #fff;
}

/*大きな背景画像*/
.big-bg{
    background-size: cover;
    background-position: center top;
}

#main{
    background-image: url(../images/background.jpg);
    background-color:rgba(0,0,0,.5);
    background-blend-mode: overlay;
    min-height: 100vh;
}
/*見出し:*/
.page-title2 {
    font-family: "Georgia";
    font-size:40px;
    text-align:left;
    color: #345378;
    line-height:220px;
    position: absolute;
}

.page-title3 {
    font-family: "Georgia";
    font-size:90px;
    text-align:left;
    color:rgba(52,83,120,.1);
    position: relative;
}
.me-name {
    font-family: "Georgia";
    font-size:26px;
    text-align:left;
    color:#000
}

.Introduction{   
   margin-bottom: 100px;
}

.Introduction-center {
    display: flex;
    justify-content: space-between;
}

.Introduction-center img {
    margin-bottom: 20px;
    width: 450px;
    height:auto;
}
.Introduction-center p{
    width: 480px;
}
article{
    width:60 ;
}
aside{
    width:30 ;
}
.introduction-text{
    text-align:left;
}

.work{
    margin-bottom: 100px;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    margin-top: 6%;
    margin-bottom: 50px;
  }


/* Worklist-main
------------------------------------*/
.worksListTitle{
    font-family: "Serif";
    font-size:28px;
    color: #000;
    text-align:left;
    display: block;
    border-bottom: 2px #345378 dotted; 
}

/* Work-main
------------------------------------*/
.work-main {
   margin-bottom: 100px;
} 
.work-main img{
    width: 450px;
    height:auto;
    margin-bottom: 30px;
    display: block;
} 

.works-title {
    font-family: "Serif";
    font-size:40px;
    text-align:left;
    color: #345378;
    display: block;
}

.work-details{
    display: flex;
    justify-content: space-between;
    margin:50px 0px;
}
.title{
    font-family: "Serif";
    font-size:24px;
}

.circle{
    color: #345378;
    margin-right:5px ;
}


/* Introduction-main
------------------------------------*/

.Introduction-main img {
    margin-bottom: 20px;
    width: 400px;
    height:auto;
}

.Introduction-main{
    display: flex;
    justify-content: space-between;
}
.name{
    width: 450px;
}
.name p{
    font-size: 16px;
    font-family:"serif";
}
.background{
    margin:15px 0px;
}

.Introduction-skill{
    margin:100px 0px;
}

.skill-img{
    width: 200px;
    margin:10px 0px;
}

.skill-level{
    display: flex;
    justify-content: space-between;

}

.skill-list{
    display: flex;
    justify-content: space-between;
    margin:10px 0px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.skill-name{
    margin:10px 0px;
}


  /* CONTACT-main
------------------------------- */
.contact-main{
    margin-bottom: 50px;
}
/* フォーム */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="TELL"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"],
input[type="TELL"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border:1px solid #345378;
    cursor: pointer;
    line-height: 1;
}




/* フッター
------------------------------------*/
footer{
    background: #345378;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
    font-family: "Georgia";
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    p {
    font-size:16px;
    text-align: center;
}

    /* ボタン*/
.button{
    font-size: 16px;
    padding: 12px 20px;
}

    /* HEADER */
    .main-nav {
        display: none;
    }
    .logo{
    width: 200px;
    margin-top: 14px;
    margin-right:auto;
}


    /* HOME */
  /*大きな背景画像*/
#main{
    height: 500px;
}

.page-title1{
    font-size: 24px;
    line-height:500px;

}

/*見出し:*/
.page-title2 {
    font-size:24px;
    line-height:70px;
    text-align:center;
}

.page-title3 {
    font-size:36px;
    text-align:center;
}
.me-name{
    text-align:center;
}
 .Introduction-center{
    text-align: center;
    display: block;
 }

 .Introduction-img{
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }


/* Introduction-main
------------------------------------*/

.Introduction-main img {
    margin-bottom: 20px;
    width: 400px;
    height:auto;
}

.Introduction-main{
    display: block;
}

.Introduction-skill{
    margin:50px 0px;
}
.name{
    text-align: center;
}

.career{
    text-align: left;
}
.skill{
    font-size:20px;
    text-align: center;
}

.skill-list{
    display: block;
    margin:10px 0px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.skill-level{
    margin: 30px 0px;
}
.skill-img{
    width: 150px;
    margin:5px 0px;
}
.skill-name{
    margin:5px 0px;
}

/* Worklist-main
------------------------------------*/
.worksListTitle{
    font-size:24px;
    text-align:center;
}

/* Work-main
------------------------------------*/
.work-main img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
} 
.works-title {
    font-size:24px;
    text-align:center;}

.work-details{
    display: block;
    margin:50px 0px;
}
.title{
    font-size:18px;
}
.details-title{
    margin-bottom: 20px;
}



    /* CONTACT */
    .page-title4{
        font-size: 24px;
    }
    .page-title5{
        font-size: 28px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    input[type="TELL"],
    textarea {
        max-width: 100%;
    }
    /* フッター */
    footer{
    padding: 13px 0;
}

}